/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: var(--fonte-terceira);
  color: var(--cor-fonte);
  position: relative;
  width: 100%;
  height: 100vh; /* 100% da altura da tela */
  overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(4, 56, 115, 0.1);
    backdrop-filter: blur(0.25em);
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  z-index: 3;
}

/* Oculta o checkbox */
.menu-toggle {
  display: none;
}

/* Menu fechado (fora da tela) */
.menu {
  position: absolute;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background-color: #3aba78;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
  padding: 2rem 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  cursor: pointer;
}

.menu-toggle:checked ~ .overlay {
  display: block;
}

/* Quando o checkbox estiver marcado, menu aparece */
.menu-toggle:checked ~ .menu {
  right: 0;
}

/* Botão de fechar (X) */
.close-icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
  display: block;
  text-align: right;
}

/* Itens do menu */
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 1.5rem 0;
}

.menu ul li a {
  color: var(--cor-texto);
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  font-family: var(--fonte-terceira);
}

.menu-desktop {
  display: none;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* ou um gradiente */
  z-index: 1;
}

@media screen and (min-width: 1250px) {
  .menu-icon,
  .menu,
  .menu-toggle {
    display: none !important;
  }

  .logo {
    padding: 0px 221px;
  }

  .menu-desktop {
    display: flex;
    justify-content: flex-end;
    padding: 23px 221px 23px 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .menu-desktop ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
  }

  .menu-desktop ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--fonte-segunda);
    font-size: 18px;
    font-weight: 500;
  }

  .menu-desktop ul li a:hover {
    text-decoration: none;
  }

  .navbar {
		width: 100%;
		margin: 0px;
		}

	.navbar > ul {
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
		
  .navbar > ul li {
		display: inline-block;
	}
			
  .navbar > ul li a {
    text-decoration: none;
    color: #fff;
    width: 120px;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    position: relative;
	}
	
  .navbar > ul li a::before {
    background: #fff none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 0%;
    transition: 0.5s;
  }
	
  .navbar > ul li a:hover::before {
		width: 100%;
	}

  #bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
}
  
}