.clientes {
    display: grid;
    flex-direction: column;
    background: var(--cor-fundo3);
    }

.clientes__titulo {
    font-family: var(--fonte-segunda);
    color: var(--cor-texto2);
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    padding: 140px 219px 24px 219px;
}

.cliente__fundo__titulo {
    display: inline-block;
    position: relative;
    background-image: url(/imagem/pincel1.png);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0 4px;
    z-index: 0;
}

.clientes__texto {
    font-family: var(--fonte-segunda);
    color: var(--cor-texto2);
    text-align: center;
    font-size: 18px;
    font-weight: 30px;
    letter-spacing: -2%;
    padding: 24px 599px 60px 599px;
}

.clientes__carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.swiper {
    width: 90%;
    overflow: hidden;
    padding-bottom: 75px;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 96px 140px 96px;
}

.swiper-pagination {
    display: none;
    position: initial;
    margin: auto;
}

.swiper-slide {
    flex: 0 0 auto;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 69px;
}

@media screen and (max-width: 700px) {
    .clientes {
        padding: 0;
    }

    .clientes__titulo {
        padding: 34px 25px 15px 25px;
        font-weight: 800;
        font-size: 25px;
        line-height: 38px;
        text-transform: uppercase;
    }

    .clientes__texto {
        padding-inline: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--cor-texto5);
    }

    .swiper {
        margin: 0;
        width: 100%;
    }

    .swiper-wrapper {
        margin: 0;
    }

    .swiper-slide {
        width: 20px;
    }
}
